<configuration>
  <configSections>
    <section name="TcmEvents.Audit" type="System.Configuration.AppSettingsSection, System.Configuration" />
  </configSections>
	<TcmEvents.Audit>
		<add key="Database" value="Server=database-server;Database=database;User Id=username;Password=password;" />
  </TcmEvents.Audit>
</configuration>
