<configuration>
  <configSections>
    <section name="tridionConfigSections" type="Tridion.Configuration.ConfigurationSections, Tridion.Common, Version=6.1.0.25, Culture=neutral, PublicKeyToken=349a39f202fa9b53" />
    <section name="TcmDebugger" type="TcmDebugger.Misc.DebuggerConfig, TcmDebugger" />
  </configSections>
	<TcmDebugger>
		<database name="database-name" server="database-server" username="database-user" password="database-password" />

		<logging level="Verbose" includeTridionClasses="true" />
		
		<templating schemaCache="..\..\" enableImpersonation="false" impersonationIdentity="domain\username" />
		
		<cms url="http://remote-tridion-host/" previewDirectory="C:\temp" previewUrl="http://localhost:8080/Preview/" />
		
		<debugging enableBreakpoint="true">		
			<debugAssembly name="Company.Templating.MyAssembly" />
			<debugAssembly name="Company.Templating.AnotherAssembly" />
		</debugging>
  </TcmDebugger>
  <tridionConfigSections>
    <sections>
      <clear/>
      <add filePath="..\..\config\Tridion.ContentManager.config"/>
    </sections>
  </tridionConfigSections>
  <startup>    
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
